# Created by .ignore support plugin (hsz.mobi)

.idea
*.iml

gen
##ignore this file##
out/
target/

.classpath
.project
.settings
##filter databfile、sln file##
*.mdb
*.ldb
*.sln
*.lst
##class file##
*.com
*.class
*.dll
*.exe
*.o
*.so
# compression file
*.7z
*.dmg
*.gz
*.iso
*.jar
*.war
*.rar
*.tar
*.zip
*.via
*.tmp
*.err
